* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.stuff {
	vertical-align: middle;
	padding: 30px 0px;
}

img {
	max-width: 100%;
	display: block;
	margin: auto auto;
	padding: 0px 0px;
	text-align: center;
	height: auto !important;
}
hr {
	color: black;
	border: 1px black solid;
}
.padding-style1 {
	padding: 100px 0;
}

.navbar-brand {
	font-family: 'BioRhyme', serif;
	font-size: 1.25em;
	color: rgba(240,240,240,1) !important;
}

.wrapper {
	width: 100%;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	opacity: 0;
	margin: 0;
}

.dumb {
	padding: 40px 20px;
}

#home {
	background-image: url("https://c1.staticflickr.com/9/8529/28113938684_4873d33485_c.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	min-height: 650px;
	margin: 0;
}

#home h3 {
	text-align: center;
	color: #DDD;
	border-radius: 10px;
	padding: 5px;
	font-family: 'BioRhyme', serif;
	font-weight: bold;
	background: #222;
	position: relative;
	top: 200px;
}

#home h4 {
	text-align: center;
	font-size: 1.4em;
	font-family: 'Raleway', sans-serif;
	color: rgba(255,255,255,1);
	position: relative;
	top: 200px;
}

body {
	overflow-x: hidden;
	font-size: 16px;
}

.vcenter {
	display: block;
	margin: auto;
	height: inherit;
}

.box {
	height: auto !important;
	text-align: center;
	padding: 20px 0px;
	margin: 0px 0px;
}

.about-container {
	display: block;
	margin: 0px;
	background-color: #CCCCCC;
	padding: 50px 0px;
	vertical-align: middle;
}

.about-container p:last-of-type {
	padding-bottom: 7px;
}

.about-container h2 {
	padding: 20px 0px;
	font-size: 2.3em;
}

.about-container h4 {
	padding: 10px 0px;
}

.about-container p {
	padding-bottom: 10px;
	font-size: 1.1em;
}

ul {
	list-style-type: none;
}
.about-img-container {
	vertical-align: middle;
}
.about-img-1 {
	border-radius: 50%;
	vertical-align: middle;
	padding: 10% 0px;
}

.about-img-1 img{
	vertical-align: middle;
	padding: auto 0px;
}

.experience {
	background-color: #EEEEEE;
	padding: 50px 70px;
	margin: auto;
}

.experience p {
	margin: 20px 0px;
}

.experience img {
	padding: 10px 0px;
	display: block;
}

.experience h1 {
	padding: 20px 0px;
	padding-bottom: 40px;
}

.experience h2 {
	color: darkblue;
}

.experience h3 {
	color: tan;
}
.experience-container {
	margin: 20px 0;
}

.Horizons {
	padding-top: 40px;
	padding-bottom: 40px;
}
.Emory{
	margin-bottom: 10px;
	padding: 40px 0;
}

.myGen-img {
	padding: 45px 0px;
}
.LBSA {
	padding: 50px 0px;
	padding-bottom: 30px;
}
.tech {
	padding: 50px 0px;
}

.spectrum {
	padding: 50px 0px;
}

.GHP {
	padding: 30px 0px;
}

.GHP img{
	padding: 20px 0px;
}

.resume-button {
	background-color: #888888;
	color: black;
	padding: 10px;
	border-radius: 10px;
	font-size: 1.5em;
}

.list {
	padding: 30px 0px;
}
.list p:last-of-type {
	margin-bottom: 10px;
}

.Projects {
	background-image: url("https://scontent-lga3-1.xx.fbcdn.net/v/t31.0-8/19143062_10155473584593024_4230826121792434164_o.jpg?oh=0e8f981e7bd22c0ad1d02504faad91a7&oe=59E75B97");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	margin: 0;
	min-height: 700px;
}

.Projects-Header-Container {
	margin-bottom: 20px;
	text-align: center;
	font-size: 48px;
	margin-top: -30px;
}

.Hobbies-Header-Container {
	text-align: center;
	font-size: 58px;
	padding: 20px;
}

.IMG {
	margin-bottom: 40px;
}

.my-work-content-head ul li {
	display: inline-block;
	cursor: pointer;
	padding: 12px 14px;
	font-weight: 700px;
	color: black;
	margin: 0px 10px;
	font-size: 16px;
}

.my-work-content-items {
	margin: 5px 15px 5px 5px;
}

#work-title {
	font-family: 'BioRhyme', serif;
}

figure.card-content {
	position: relative;
	float: left;
	overflow: hidden;
	background-color: black;
	color: white;
	text-align: left;
	margin: 10px;
	width: 100%;
	border-radius: 10px;
	border-color: white;
	border-width: 20px;
}

figure.card-content * {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.35s ease;
	transition: all 0.35s ease;
}

figure.card-content img {
	max-width: 100%;
	-webkit-transform: scale (1.1);
	transform: scale(1.1);
	vertical-align: top;
}

figure.card-content figcaption {
	position: absolute;
	padding: 40px 25px;
	top: 0;
	left: 0;
}

figure.card-content button,
figure.card-content h2,
figure.card-content p {
	margin: 0;
	padding: 0;
	opacity: 0;
}

figure.card-content h2 {
	margin-bottom: 10px;
	display: inline-block;
	font-weight: 100;
	font-size: 1.8em;
}

figure.card-content p {
	font-weight: 300;
	margin-bottom: 20px;
	line-height: 1.4em;
}

figure.card-content button {
	display: inline-block;
	padding: 10px 20px;
	border: 1px solid #white;
	text-decoration: none;
	color: black;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 0.8em;
	-webkit-transform: translateY(50%);
	transform: translateY(50%);
	opacity: 0;
}

figure.card-content:hover {
	max-height: 100%;
	overflow-y: scroll;
}

figure.card-content:active {
	max-height: 100%;
	overflow-y: scroll;
}

figure.card-content:hover img,
figure.card-content.hover img {
	opacity: 0;
	-webkit-transform: scale(1);
	transform: scale(1);
}

figure.card-content:active img,
figure.card-content.active img {
	opacity: 0;
	-webkit-transform: scale(1);
	transform: scale(1);
}

figure.card-content:hover h2,
figure.card-content.hover h2 {
	opacity: 1;
}

figure.card-content:active h2,
figure.card-content.active h2 {
	opacity: 1;
}

figure.card-content:hover p,
figure.card-content.hover p {
	opacity: 1;
}

figure.card-content:active p,
figure.card-content.active p {
	opacity: 1;
}

figure.card-content:hover button,
figure.card-content.hover button {
	opacity: 1;
}

figure.card-content:active button,
figure.card-content.active button {
	opacity: 1;
}

#slider-img {
	opacity: 1;
}

.quote {
	color: rgba(0, 0, 0, .1);
	text-align: center;
	margin-bottom: 20px;
}

.reco-title {
	color: black;
	text-align: center;
	padding-bottom: 10px;
}

#fade-quote-carousel.carousel {
	padding-bottom: 60px;
}

#fade-quote-carousel.carousel .carousel-inner .item {
	opacity: 0;
	-webkit-transition-property: opacity;
	-ms-transition-property: opacity;
	transition-property: opacity;
}

#fade-quote-carousel.carousel .carousel-inner .active {
	opacity: 1;
	-webkit-transition-property: opacity;
	-ms-transition-property: opacity;
	transition-property: opacity;
}

#fade-quote-carousel.carousel .carousel-indicators {
	bottom: 10px;
}

#fade-quote-carousel.carousel .carousel-indicators>li {
	background-color: #e84a64;
	border: none;
}

#fade-quote-carousel blockquote {
	text-align: center;
	border: none;
}

#fade-quote-carousel .profile-circle {
	width: 100px;
	height: 100px;
	margin: 0 auto;
	border-radius: 100px;
}

.reco-img {
	height: 200px;
	width: 200px;
	padding-bottom: 220px;
	margin: auto;
	display: block;
}

.reco-text {
	text-align: center;
}

.fun-facts-header .section-title {
	margin-bottom: 24px;
	text-align: center;
	font-size: 48px;
}

.section-second-title {
	text-align: center;
	font-size: 32px;
	font-family: 'BioRhyme', serif;
	padding-bottom: 20px;
}

#work-card {
	margin: 5px;
	border-radius: 5px;
}

.my-work-content-head {
	text-align: center;
	margin-bottom: 28px;
}

.animate {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.info-card {
	width: 100%;
	height: 250px;
	position: relative;
	font-family: 'Lato', sans-serif;
	overflow: hidden;
}

.info-card1 {
	height: 200px;
}

.info-card .info-card-details,
.info-card .info-card-details .info-card-header {
	width: 100%;
	height: 100%;
	position: absolute;
	bottom: -100%;
	left: 0;
	padding: 0 15px;
	background: rgb(255, 255, 255);
	text-align: center;
}

.info-card .info-card-details::-webkit-scrollbar {
	width: 8px;
}

.info-card .info-card-details::-webkit-scrollbar-button {
	width: 8px;
	height: 0px;
}

.info-card .info-card-details::-webkit-scrollbar-track {
	background: transparent;
}

.info-card .info-card-details::-webkit-scrollbar-thumb {
	background: rgb(160, 160, 160);
}

.info-card .info-card-details::-webkit-scrollbar-thumb:hover {
	background: rgb(130, 130, 130);
}

.info-card .info-card-details .info-card-header {
	height: auto;
	bottom: 100%;
	padding: 20px 5px;
}

.info-card:hover .info-card-details {
	bottom: 0px;
	overflow: auto;
	padding-bottom: 25px;
}

.info-card:hover .info-card-details .info-card-header {
	position: relative;
	bottom: 0px;
	padding-top: 45px;
	padding-bottom: 25px;
}

.info-card .info-card-details .info-card-header h1 {
	color: rgb(62, 62, 62);
	font-size: 20px;
	font-family: 'BioRhyme', serif;
	margin: 0 !important;
	padding: 0 !important;
}

.info-card .info-card-details .info-card-detail .social {
	list-style: none;
	padding: 0px;
	margin-top: 25px;
	margin-bottom: 15px;
	text-align: center;
}

.info-card-detail p {
	font-size: 16px;
	display: inline-block;
	text-align: center;
	line-height: 20px;
}

.info-card .info-card-details .info-card-detail .social a {
	position: relative;
	display: inline-block;
	min-width: 40px;
	padding: 10px 0px;
	margin: 20px 5px;
	overflow: hidden;
	text-align: center;
	background-color: rgb(215, 215, 215);
	border-radius: 40px;
}

.modal-backdrop.in {
	filter: alpha(opacity=20);
	opacity: 0.7;
}

.modal-content {
	background: none;
	border: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.modal-body {
	padding: 0 25px 25px 25px;
}

.modal-header {
	padding: 25px 25px 15px 25px;
	padd text-align: right;
}

.modal-header,
.modal-footer {
	border: 0;
}

.modal-header .close {
	float: none;
	margin: 0;
	font-size: 36px;
	color: black;
	font-weight: 300;
	text-shadow: none;
	opacity: 1;
}

.community li {
	list-style-type: none;
}

.info-card p {
	margin-bottom: 10px;
	margin-top: 15px;
}

.contact {
	text-align: center;
	padding: 50px;
	padding-bottom: 70px;
	background-image: url("https://scontent.xx.fbcdn.net/v/t1.0-9/19875299_10155564233298024_2773562034564159794_n.jpg?oh=476ba616d68ab446d4270940da6fdfcc&oe=59FD059E");
	background-size: cover;
	background-position: center;
}

.contact h1 {
	padding: 30px 0px;
	font-size: 3.5em;
}
