html,
body {
  position: relative;
  width: 100%;
}

body {
  color: #333;
  margin: 0;
  padding: 0 8px;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  background-color: #404040;
  overflow-x: hidden;
  margin: 0 auto;
  max-width: 1200px;
  width: 90%;
  padding-bottom: 100px;
}
p {
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
}
a {
  font-family: "Open Sans", sans-serif;
  text-decoration: None;
}
li {
  color: #fff;
}

label {
  display: block;
}

input:disabled {
  color: #ccc;
}

h1 {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  font-size: 50px;
}

h2 {
  font-family: "Poppins", sans-serif;
  color: rgba(157, 221, 192, 0.8);
  font-size: 35px;
  margin: 20px 0px;
}
h3 {
  font-family: "Poppins", sans-serif;
}

button {
  color: #333;
  background-color: #f4f4f4;
  outline: none;
  padding: 0;
}

button:disabled {
  color: #999;
}

button:not(:disabled):active {
  background-color: #ddd;
}

button:focus {
  border-color: #666;
}

@media (max-width: 800px) {
  body {
    transition: 1s;
  }
}
